[preset.0]

name="Android"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="studio/runtime/*"
exclude_filter="zz_*, tools/*"
export_path="export/meltiew.apk"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=true
gradle_build/gradle_build_directory=""
gradle_build/android_source_template=""
gradle_build/compress_native_libraries=true
gradle_build/export_format=0
gradle_build/min_sdk="24"
gradle_build/target_sdk=""
architectures/armeabi-v7a=true
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
; Release signing comes from GODOT_ANDROID_KEYSTORE_RELEASE_* env vars,
; the keystore is never committed (see scripts/build_android.sh).
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
version/code=19
version/name="1.8.0"
package/unique_name="cat.narezany.meltiew"
package/name="Meltiew"
package/signed=true
package/app_category=2
package/retain_data_on_uninstall=false
package/exclude_from_recents=false
package/show_in_android_tv=false
package/show_in_app_library=true
package/show_as_launcher_app=false
launcher_icons/main_192x192="res://assets/android/icon_192.png"
launcher_icons/adaptive_foreground_432x432="res://assets/android/icon_foreground_432.png"
launcher_icons/adaptive_background_432x432="res://assets/android/icon_background_432.png"
launcher_icons/adaptive_monochrome_432x432=""
graphics/opengl_debug=false
xr_features/xr_mode=0
screen/immersive_mode=true
screen/edge_to_edge=false
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
user_data_backup/allow=false
command_line/extra_args=""
apk_expansion/enable=false
apk_expansion/SALT=""
apk_expansion/public_key=""
permissions/custom_permissions=PackedStringArray()
permissions/access_network_state=true
permissions/internet=true
permissions/record_audio=true

[preset.1]

name="Windows"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="studio/runtime/*"
exclude_filter="zz_*, tools/*"
export_path="export/windows/Meltiew.exe"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.1.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
binary_format/embed_pck=true
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
binary_format/architecture="x86_64"
codesign/enable=false
application/modify_resources=true
application/icon="res://assets/icon.ico"
application/console_wrapper_icon=""
application/icon_interpolation=4
application/file_version="1.8.0.0"
application/product_version="1.8.0.0"
application/company_name="narezany"
application/product_name="Meltiew"
application/file_description="Meltiew"
application/copyright=""
application/trademarks=""
application/export_angle=0
application/export_d3d12=0

[preset.2]

name="Linux"
platform="Linux"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="studio/runtime/*"
exclude_filter="zz_*, tools/*"
export_path="export/linux/Meltiew.x86_64"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.2.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
binary_format/embed_pck=true
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
binary_format/architecture="x86_64"

[preset.3]

name="macOS"
platform="macOS"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="studio/runtime/*"
exclude_filter="zz_*, tools/*"
export_path="export/macos/Meltiew.zip"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.3.options]

export/distribution_type=1
binary_format/architecture="universal"
custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
application/icon="res://assets/icon.png"
application/bundle_identifier="cat.narezany.meltiew"
application/signature=""
application/app_category="Games"
application/short_version="1.8.0"
application/version="19"
application/copyright=""
application/min_macos_version_x86_64="10.13"
application/min_macos_version_arm64="11.00"
display/high_res=true
codesign/codesign=1
codesign/installer_identity=""
codesign/apple_team_id=""
codesign/identity=""
codesign/entitlements/custom_file=""
codesign/entitlements/allow_jit_code_execution=false
codesign/entitlements/allow_unsigned_executable_memory=false
codesign/entitlements/allow_dyld_environment_variables=false
codesign/entitlements/disable_library_validation=true
codesign/entitlements/audio_input=true
codesign/entitlements/camera=false
codesign/entitlements/location=false
codesign/entitlements/address_book=false
codesign/entitlements/calendars=false
codesign/entitlements/photos_library=false
codesign/entitlements/apple_events=false
codesign/entitlements/debugging=false
codesign/entitlements/app_sandbox/enabled=false
notarization/notarization=0
privacy/microphone_usage_description="Voice chat with players near you"
texture_format/s3tc_bptc=true
texture_format/etc2_astc=true

[preset.4]

name="iOS"
platform="iOS"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="studio/runtime/*"
exclude_filter="zz_*, tools/*"
export_path="export/ios/Meltiew.ipa"
patches=PackedStringArray()
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.4.options]

custom_template/debug=""
custom_template/release=""
architectures/arm64=true
application/app_store_team_id="MELTIEW000"
application/export_method_release=1
application/bundle_identifier="cat.narezany.meltiew"
application/signature=""
application/short_version="1.8.0"
application/version="19"
application/min_ios_version="16.0"
application/additional_plist_content=""
application/icon_interpolation=4
application/export_project_only=true
application/delete_old_export_files_unconditionally=false
capabilities/access_wifi=false
capabilities/performance_gaming_tier=false
capabilities/performance_a12=false
user_data/accessible_from_files_app=false
user_data/accessible_from_itunes_sharing=false
privacy/camera_usage_description=""
privacy/microphone_usage_description="Voice chat with players near you"
privacy/photolibrary_usage_description="Pick a picture to upload"
icons/icon_1024x1024="res://assets/icon.png"
storyboard/image_scale_mode=0
storyboard/custom_bg_color=Color(0.105882, 0.0941176, 0.137255, 1)
storyboard/use_custom_bg_color=true
